
.homepage {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-image: -webkit-radial-gradient(circle closest-side, purple,black);
  background-image: -moz-radial-gradient(circle closest-side, purple,black);
  display: grid;
  grid-template-columns: repeat(auto,25%);
  grid-template-rows: auto;
  grid-template-areas: 
  "header navigation navigation newsletter"
  "section section section section"
  "section-cards section-cards section-cards section-cards"
  "footer footer footer footer";

} 
.index {
  background-color: black;
  background-image: -webkit-radial-gradient(circle closest-side, purple,black);
  background-image: -moz-radial-gradient(circle closest-side, purple,black);
}

header {
  grid-area: header;
  width: auto;
 
  text-align: center;
  margin: 0;
  padding: 0;
}

.section-main h1{
  font-size: 2.5em;
}

.section-main h4 {
  font-size: 1em;
  font-weight: lighter;
}
navigation {
  grid-area: navigation;
  width: auto;
  font-weight: bolder;
  color: #fff;
  align-self: center;

  font-size: 1.5em;
}
navigation div {
  text-align: center;

}
li {
  list-style: none;
  display: inline;
  margin: 5%;
}
.section-main {
  grid-area: section;
  width: auto;
  margin:5%;
  padding: 2%;
  color: white;
  text-align: center;

}
.section-cards {
  grid-area: section-cards;
  width: auto;
  margin:5%;
  padding: 2%;
  text-align: center;

}

newsletter {
  grid-area: newsletter;
  width: auto;
  margin:5%;
  padding: 2%;

}

navigation a{
  text-decoration: none;
  color: inherit;
  /*font-size: 1.3em;*/
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: gray;
}






#game div, .display-divs {
  box-shadow: 5px 5px purple;
  border: 1px solid  purple;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  border-radius: 30px;

} 
.display-divs:nth-child(1){
  background: blue;
}
.display-divs:nth-child(2){
  background: green;
}

.button_1 {
  background-color: blue;
  color: white;
}